.Leaderboard {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 0em 1em;
  }
  
  .scorecards {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
  }
  
  .scorecard {
	margin-right: 1em; /* Do not allow cards to touch, but also do not offset them from the main left line of the app */
	padding: 1em;
	background-color: #f5f6f8;
	background-color: var(--pulse-background-color);
	border-bottom: 1px solid;
    border-bottom-color: #e6e9ef;
	border-bottom-color: var(--layout-border-color);
	
	display: flex;
	flex-direction: row;
  }
  
  .dp {
	height: 50px;
	width: 50px;
	margin: 0em 0.5rem;
  }
  
  .scorecard > div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
  }
  
  .topscorecard {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
  }